.caja1{
    width: 200px;
    height: 200px;
    background-color: #264F61;
    padding: 10px 20px;
    border: 10px solid black;
    
}

.caja2{
    width: 200px;
    height: 200px;
    background-color: #6E2351;
    border-top: 20px solid;
    border-bottom: 20px solid;
    border-right: 10px solid;
    border-left: 10px solid;
    margin-left: -5px;
    margin-top: 240px;
}

.caja3{
    width: 200px;
    height: 200px;
    background-color: #4E9675;
    border: 10px solid;
    margin-top: 480px;
    margin-left: -445px;
}

p {
    margin: 0;
}

body{
    margin: 0;
}

div{
    display: inline-block;
    vertical-align: top;
}